*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#matrix-app {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

}

ul[class],
ol[class] {
  list-style: none;
}

//a {
//  text-decoration: none;
//  font-weight: 500;
//  font-size: 12px;
//  line-height: 16px;
//  color: $text-link;
//
//  &:not([class]) {
//    text-decoration-skip-ink: auto;
//  }
//}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  background: transparent;
  cursor: pointer;
}

/////////////////////////////////////////////////////////////////////////////////////////////


.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

@media (max-width: 992px) {

  .container {
    padding: 0;
  }
}