.header-dropdown {
    position: relative;
    z-index: 50;
    font-size: 11px;

    &__selected {
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        background: #FFFFFF;
        border: 1px solid #E1F3FD;
        border-radius: 5px;
        padding: 0 5px;
        height: 28px;
        color: #0188DA;

        & > img {
            transition: all 0.3s;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: 6px;

            & svg {
                width: 12px;
                height: 12px;
                transform: translateY(2px);

                & path {
                    fill: #0188DA;
                }
            }
        }

        &.open {
            border-bottom: 0;
            border-radius: 5px 5px 0 0;

            & > img {
                transform: rotate(180deg);
                transition: all 0.3s;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2px;
        width: 100%;
        position: absolute;
        background: #FFFFFF;
        top: 100%;
        left: 0;
        z-index: 1;
        border: 1px solid #D7EFFD;
        border-top: 0;
        border-radius: 0 0 5px 5px;
    }

    &__item {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 6px;

        & svg {
            width: 12px;
            height: 12px;
            transform: translateY(2px);
        }
    }
}

@media (min-width: 576px) {
    .header-dropdown {
        display: none;
    }
}