.edit-distribution {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 0 60px;

    &__title {
        font-size: 18px;
        font-weight: 700;
    }

    &__input-title {
        background: #FFFFFF;
        border: 1px solid #EEF1F4;
        border-radius: 7px;
        font-size: 12px;
        padding: 10px 12px;

        &::placeholder {
            color: #8CA0B4;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background: #FFFFFF;
        border: 1px solid #E7ECEF;
        border-radius: 7px;
        padding: 24px 20px;

        &-buttons {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        gap: 6px;

        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #8CA0B4;
            flex-shrink: 0;
            font-size: 10px;
            color: #FFFFFF;
        }

        & > h3 {
            font-size: 16px;
            font-weight: 600;
        }
    }

    &__textarea {
        width: 100%;
        position: relative;

        & > textarea {
            width: 100%;
            height: 136px;
            background: #F5F7F8;
            border: 1px solid #EEF1F4;
            border-radius: 7px;
            padding: 12px;
            resize: none;
            font-size: 12px;
            color: #303030;

            &::placeholder {
                color: #8CA0B4;
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            gap: 8px;
            position: absolute;
            bottom: 16px;
            left: 12px;
        }
    }

    &__recipients {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: #FFFFFF;
        border: 1px solid #E7ECEF;
        border-radius: 7px;
        padding: 24px 20px;

        &-container {
            display: grid;
            grid-template-columns: 55% 45%;
            gap: 8px;
        }

        &-setting {

        }

        &-block {
            border: 1px solid #D7EFFD;
            border-radius: 5px;
        }

        &-amount {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            padding: 8px 12px;
            background: #0188DA0D;

            & > div {
                display: flex;
                align-items: center;
                gap: 4px;

                & > span {
                    font-size: 12px;
                }
            }

            & > button {
                font-size: 12px;
                color: #0188DA;
            }
        }

        &-avatars {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 14px;
            padding: 8px 12px;

            & > img {
                width: 100%;
                height: auto;
            }
        }

        &-conditions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}