.distribution-condition {
    border: 1px solid #D7EFFD;
    border-radius: 5px;

    &__head {
        padding: 10px 16px;
        background: #0188DA0D;
    }

    &__container {
        padding: 16px;
    }

    &__radio-btn {

    }

    &__selects {

    }
}