.distribution-search {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #EEF1F4;
    background: #fff;
    padding: 0 18px;
    height: 36px;
    border-radius: 7px;
    width: 100%;

    & > input {
        width: 100%;
        height: 100%;
        font-size: 12px;
        color: #303030;

        &::placeholder {
            color: #8CA0B4;
            font-size: 12px;
        }
    }
}