.create-distribution {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &__wrapper {
        width: 360px;
        background: #FFFFFF;
        border: 1px solid #D7EFFD;
        border-radius: 5px;
        position: relative;
        z-index: 2;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        background: #0188DA0D;
        padding: 10px 12px;

        & > img {
            cursor: pointer;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        color: #000000;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 24px;
    }

    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 12px;

        & > button {
            width: 100%;
        }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}